	
	#imagem img{
		position: absolute;
		color: white;
		margin-top: -2px;
		max-width:80px;
		margin-left: 330px;
		filter: brightness(5);
	}
	#barra1 {
		background-color: #000066;
	}
	#barra2 {
		background-color: #000099;
	}
	#botoesBarra1 {
		margin-left: 58%;
	}
	#botoesBarra2 {
		margin-left: 50%;
	}

	/* Botões*/
	#btn {
		color: white;
		background: none;
		cursor:pointer;
		width: 120px;
		height: 80px;
		border: none;
	}
	#btnCadastro {
		color: white;
		background: none;
		cursor:pointer;
		width: 120px;
		height: 35px;
		border: none;
	} 
	#btnLogin {
		background-color: #b3003b;
		font-weight: bold;
		color: white;
		cursor:pointer;
		width: 120px;
		height: 35px;
		border: none;
	}
	/* Fim botões*/